/*login page*/

.content-uz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.uz-login-logo {
    max-width: 100%;
}

.uz-form-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    padding: 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*8888end login page*/
#depT,
#dep {
    display: none;
}

/*departamento*/

table {
    text-align: center;
    cursor: pointer;
}

.navbar {
    z-index: 999;
}

.search {
    justify-content: flex-end !important;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none !important;
}

@media screen and (min-width: 992px) {
    .col-md-2 {
        width: 20% !important;
    }
}

@media screen and (max-width: 767px) {
    .w-25 {
        width: 100% !important;
    }

    .search {
        justify-content: center !important;
    }

    .content-uz {
        width: 100% !important;
        padding: 10px !important;
    }
}

#loader {
    position: absolute !important;
    background-color: white;
    z-index: 999999999999999;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
